@charset "UTF-8";

.flex-container {
    display: flex;
    flex-direction: column;
    background-color: brown;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
}

